@model IEnumerable<MyAcc.Models.Company>




@await Html.Grid(Model).Named("companyGrid").Columns(columns =>
{
columns.Add(c => c.Name).Sortable(true);
columns.Add(c => c.StreetAddress).Sortable(true);
columns.Add(c => c.City).Sortable(true);
columns.Add(c => c.State).Sortable(true);
columns.Add(c => c.PostalCode).Sortable(true);
columns.Add(c => c.PhoneNumber).Sortable(true);
columns.Add(c => c.IsAuthorizedCompany).SetCheckboxColumn(true, o => o.IsAuthorizedCompany);


columns.Add().Titled("Edit")
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<a onclick="showInPopup('@Url.Action("Upsert", "Company", new { id = o.Id }, Context.Request.Scheme)','New Company')"><i class="fas fa-pencil-alt" style="color:orange;"></i></a>);

columns.Add().Titled("Delete")
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<form asp-action="Delete" asp-route-id="@o.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline"><button type="submit" style="border:none; background:white"><i class="fas fa-trash-alt" style="color:red;"></i></button></form>);

}).WithPaging(10).Sortable().RenderAsync()